<section class="py-16">
    <h2 class="text-3xl font-bold text-center mb-8">Nuestros Servicios</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div (click)="abrirCita(item)" *ngFor="let item of servicios" class="cursor-pointer text-center p-6 bg-base-200 shadow-lg rounded-lg">
            <img src="https://placehold.co/150" alt="{{item.title}}" class="mx-auto mb-4 rounded-lg">
            <h3 class="text-xl font-bold mb-2">{{item.title}}</h3>
            <p>{{item.description}}</p>
        </div>
    </div>
</section>