
.skills {
  padding: 4rem 2rem;
  background-color: #eef;
}

.skills-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
